body {
    color: azure;
}

.choice-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 0.8rem;
    border-radius: 5px;
    background: rgb(132, 110, 232);
    font-size: 3rem;
    min-width: 80rem;
    padding: 0.5rem; 
}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(132, 110, 232);
    transform: scale(1.02);
    transition: transform 100ms; 
}

.choice-prefix {
    padding: 2rem 2.5rem; 
    color: beige;
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background: linear-gradient(32deg, rgba(73, 186, 65) 0%, rgb(83, 214, 74) 100%);
}

.incorrect {
    background: linear-gradient(32deg, rgb(201, 52, 42) 0%, rgb(212, 11, 11) 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 3rem;
}

.hud-main-text {
    text-align: center;
}

#progressbar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(83, 214, 74);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: rgb(83, 214, 74);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;
    }
}
